/*  MEDIA QUERIES  */
@media screen and (max-width: 800px) {
    nav {
      display: block;
      position: relative;
      padding: 15px 20px;
    }
    .nav-links {
      margin-top: 15px;
      display: none;
    }
    .nav-links.active,
    .toggle {
      display: block;
    }
    .toggle {
      position: absolute;
      top: 15px;
      right: 20px;
    }
    .section1 {
      display: flex;
      flex-direction: column-reverse;
    }
    .head-img {
      display: flex;
      flex-direction: column;
    }
    .img-article {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .img-article h1 {
      margin-top: 40px;
      text-align: center;
    }
    .img-article p {
      text-align: center;
    }
    .Download {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: darkmagenta;
      margin-bottom: 20px;
    }

    .Download.social-icons {
        background-color: darkgreen;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:  50px;
        margin-top:  200px;
        margin-left:  600px;
    }

    .Download.social-icons .socialicons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:  50px;
        margin-top:  200px;
        margin-left:  600px;
       
    }
    .section2 {
      margin-top: 20px;
    }
    .section-p .r-p {
      margin: auto;
    }
    .v-p {
      display: none;
    }
    .recent-posts {
      display: flex;
      flex-direction: column;
    }
    .post-item {
      margin-left: 0;
      margin-bottom: 10px;
    }
    .container {
      width: 90%;
    }
    .f-w-item {
      display: flex;
      flex-direction: column;
    }
    .f-w-img img {
      width: 100%;
    }
  }
  